

  *{
   box-sizing: border-box;
   margin: 0px;
    padding: 0px;
    
   
  }
  
 #check{
  display: none;
 }
  img{
    max-width: 100%;
    display: block;
    height: auto;
  }

  #navbar{
   height: 60px;
   box-sizing: border-box;
 background-color: black;
   display: flex;
      justify-content: space-between; 
    align-items: center;
    margin: 0px;
    padding: 0px;
    
    
  }

  #navbar img{
   height: 100px;
   width: 230px;
   padding-left: 30px;
   
   
  }
  #navbar div ul{
   display: flex;
     color: white;
     font-size: 20px;
     list-style: none;
     gap: 20px;
     padding-right: 20px;
     text-decoration: solid;
     margin: 0px;
    padding: 0px;
  }
 main{
  margin: 0px;
  padding: 0px;
 
 }
 
  main img{
  width: 300px;
 height: 70px; 
 
  }
  #main-section{
    height: 100vh;
    width: 100%;
    background-image: url(mid-2.jpg);
    background-size: cover;
    background-position: center;
        display: flex;
    justify-content: center;
  }

  #p1{
    height: 310px;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding-top: 10px;
  }

  #p3{
    text-align: center;
    font-size: large;
    color: white;
    margin: 0px;
    padding: 0px;
  }



  
  
  #p1 nav{
    display: flex;
    align-items: center;
    padding-left: 200px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
  }
  .m1{
   background-color: rgba(128, 128, 128, 0.384); 
    height:200px;
    width: 230px;
    font-size: large;
    

  }
    
  .m1 .m1img{
    width: 100%;
    height: 70%;
    background-image: url(box-1.png);
    background-size: cover;
    background-position: center;
  }
.m1 .m1text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
  }


  .m2{
     
     background-color: rgba(128, 128, 128, 0.384); 
    height:200px;
    width: 230px;
    font-size: large;
    
  }

   .m2 .m2img{
    width: 100%;
    height: 70%;
    background-image: url(box-2.png);
    background-size: cover;
    background-position: center;
  }
.m2 .m2text{
    width: 100%;
    height: 30%;
     display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }

  .m3{
        background-color: rgba(128, 128, 128, 0.384); 
    height:200px;
    width: 230px;
    font-size: large;
  }
  .m3 .m3img{
    width: 100%;
    height: 70%;
    background-image: url(box-3.png);
    background-size: cover;
    background-position: center;
  }
.m3 .m3text{
    width: 100%;
    height: 30%;
     display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }



  .m4{
   background-color: rgba(128, 128, 128, 0.384); 
    height:200px;
    width: 230px;
    font-size: large;
  }
  .m4 .m4img{
    width: 100%;
    height: 70%;
    background-image: url(box-4.png);
    background-size: cover;
    background-position: center;
  }
.m4 .m4text{
    width: 100%;
    height: 30%;
     display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }



#l1{
  background-color: rgba(0, 0, 0, 0.897);
  width: 100%;
  height: 100%;
    padding-top: 20px;
     padding-left: 200px;
    padding-right: 200px; 
}
#l1 ul {
  color: aliceblue;
text-align: center;
display: flex;
justify-content: space-evenly;
list-style: none;
text-decoration:underline;
margin: 0px;
    padding: 0px;
}



#l1 h1{
  color: aliceblue;
  text-align: center;
  margin-top: 100px;
  
}

.para1{
  font-size: large;
  color: aliceblue;
  padding-top: 50px;
  text-align: center;
}

#l1 video{
  height: 500px;
  width: 900px;
  display: flex;
  justify-content: center;
  padding-left: 80px;
  margin-top: 20px;
}

.para2{
    font-size: large;
  color: aliceblue;
  padding-top: 50px;
  text-align: center;
}

.p-heading{
  color: aliceblue;
  text-align: center;
}

.para3{
    font-size: large;
  color: aliceblue;
  padding-top: 50px;
  text-align: center;
}

.div-box{
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 250px;
  
}

.box-1{
    background-color: rgba(128, 128, 128, 0.384); 
    height:250px;
    width: 450px;
    font-size: large;
 
}
.img-menu1{
  width: 100%;
    height: 100%;
    background-image: url(menu1.png);
    background-size: cover;
    background-position: center;
}
.text-menu1{
   
     display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    
}

.box-2{
   background-color: rgba(128, 128, 128, 0.384); 
    height:250px;
    width: 450px;
    font-size: large;
    
   
}
 .img-menu2{
  width: 100%;
    height: 100%;
    background-image: url(menu2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-menu2{
   
     display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
   
} 

#square1{
  
  border: 1px solid aqua;
  margin-top: 10px;
  margin-bottom: 50px;

  
}
#square1 h1{
  color: aqua;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration: underline;
}


.k1{
  text-align: center;
  color: white;
}

.k2{
  font-size: 15px;
  color: aliceblue;
  margin-top: 100px;
}
 
.para4{
   font-size: large;
  color: aliceblue;
  padding-top: 50px;
  text-align: center;
}

#last-box{
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 250px;
  
}

.last-b1{
    background-color: rgba(128, 128, 128, 0.384); 
    height:250px;
    width: 450px;
    font-size: large;
 
}
 .img-menu3{
  width: 100%;
    height: 100%;
    background-image: url(box-l1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-menu3{
   
     display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
   
} 
.last-b2{
    background-color: rgba(128, 128, 128, 0.384); 
    height:250px;
    width: 450px;
    font-size: large;
 
}
 .img-menu4{
  width: 100%;
    height: 100%;
    background-image: url(box-l2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-menu4{
   
     display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
   
}
#square2{
  
  border: 1px solid aqua;
  margin-top: -90px;
  
}

#square2 h1{
  color: aqua;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration: underline;
}

.para5{
   font-size: large;
  color: aliceblue;
  padding-top: 150px;
  text-align: center;
}
.a1{
  color: aqua;
  font-size: large;
}

.para6{
   font-size: large;
  color: aliceblue;
  padding-top: 10px;
  padding-left: 100px;
padding-bottom: 50px;
}

footer div{
  color: aqua;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: black; 
}

 footer div ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  text-decoration: underline;
  padding-top: 50px;
  
} 
.para7{
  color:aliceblue;
  font-size: 17px;
  padding-left: 250px;
  padding-top: 40px;
}

.para8{
 color: aliceblue;
 margin-top: 20px;
 padding-left: 80px;
 padding-right: 80px;
 font-size: 17px;
  padding-bottom: 50px;
  text-align: center;
}

footer div ul:hover{
  text-decoration: none;
}

 #square2 h1:hover{
  text-decoration: none;
  color: aliceblue;
}
#square1 h1:hover{
  text-decoration: none;
  color: aliceblue;
}


#bar{
 position: absolute;
 top: 2%;
 right: 5%;
 display: none;
 color: aliceblue;
}
@media(max-width:430px){

  #bar{
    display: block;
  }
  #main-section{
    height: 200px;
    width: 100%;
  }
  #p1{
    padding-top: 15px;
    width: 100%;
  }
  #p1 nav{
    
    padding-left: 10px;
    margin-top: 50px;
    width: 100%;
    gap: 10px;
    padding-right: 10px;

  }
  #l1{
   width: 100%;
  height: 100%;
    padding-top: 20px;
     padding-left: 10px;
    padding-right: 10px; 
  }
  #l1 .para1{
    text-align: left;
  }
  
  #l1 video{
    height: 400px;
  width: 100%;
 
  display: flex;
  justify-content: center;
  padding-left:0px;
  margin-top: 0px;
  padding-right: 20px;
  }
  .para6{
  padding-top: 10px;
  padding-left: 10px;
padding-bottom: 50px;
  }
  footer div{
 
  width: 100%;
  height: 100%;
}
   .para7{
  padding-top: 40px;
  padding-left: 10px;
padding-bottom: 50px;
  }
  
  #navbar img{
   height: 100px;
   width: 110px;
   padding-left: 10px;
    }
 #navbar{
   
    height: 30px;
    width: 100%;
    
      
  }
   #navbar div ul{
    display: none;
  }
  #check:checked~#navbar div ul{
    display: block;
    width: 100%;
    background-color: blanchedalmond;
   position: absolute;
   top: 5%;
   left: 0px;

  }
  
  

}

